<link rel="stylesheet" type="text/css" href="http://fbtab.heroku.com/stylesheets/style.css" />

<script><!--
function get_fbml() {
	var ajax = new Ajax();
	ajax.responseType = Ajax.FBML;
  	ajax.ondone = function(data) {
      document.getElementById('ajax_fbml1').setInnerFBML(data);
      document.getElementById('ajax_fbml2').setTextValue('');
    }
  	ajax.post('<%= home_fbml_url(:only_path => false, :format => "fbml") %>');
}

//--></script>

<div class="container clearfix">

	<div class="grid12 first">
		Examples of FBJS in Tab
	</div>

	<div class="grid4 first">
		Page
	</div>
	<div class="grid8">
		<strong><%= fb_name(current_facebook_page)%></strong>
	</div>
	<div class="grid4 first">
		AJAX with FBML
		<a href="#" onclick="get_fbml(); return false;">FBML</a><br />
	</div>
	<div class="grid8">
		<div><span id="ajax_fbml1">&nbsp;</span><span id="ajax_fbml2">&nbsp;</span></div>
	</div>
	
	<div class="grid4 first">
		AJAX with FBML
		<a href="#" onclick="get_fbml(); return false;">FBML</a><br />
	</div>
	<div class="grid8">
		<div><span id="ajax_fbml1">&nbsp;</span><span id="ajax_fbml2">&nbsp;</span></div>
	</div>

</div>
<p>Visit <a href="http://www.facebook.com/520GridSystem">520 Grid System's page</a> on Facebook!</p>


