<h1>Examples of FBJS in Tab</h1>

Hello, <%= fb_name(current_facebook_user, :useyou => false) %><br/>
Thanks for visiting us from <%= fb_name(current_facebook_page)%>

<h2>AJAX with FBML</h2>
<a href="#" onclick="get_fbml(); return false;">FBML</a><br />
<div><span id="ajax1"></span><span id="ajax2"></span></div>

<script><!--
function get_fbml() {
	var ajax = new Ajax();
	ajax.responseType = Ajax.FBML;
  	ajax.ondone = function(data) {
      document.getElementById('ajax1').setInnerFBML(data);
      document.getElementById('ajax2').setTextValue('');
    }
  	ajax.post('<%= home_fbml_url(:only_path => false, :format => "fbml") %>');
}

//--></script>